* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  //   background-color: var(--main-bg-color);
  font-family: "IBM Plex Sans", sans-serif;
  background: rgb(246, 247, 248);
  background: linear-gradient(
    180deg,
    rgba(246, 247, 248, 1) 0%,
    rgba(134, 144, 150, 1) 100%
  );
}
.content-page {
  display: flex;
  position: absolute;
  top: 209px;
  left: 472px;
}

.entry-header {
  word-wrap: break-word;
  font-size: x-large;
  width: 602px;
  height: 101px;
  display: block;
  margin-left: 383px;
}
.entry-content {
  position: absolute;
  top: 132px;
}

.entry-title {
  margin-bottom: 0;
}
.gb-container {
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  height: 600px;
}
.gb-inside-container {
  flex: 1 0 100px;
  width: 348px;
  height: 465px;
  color: white;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  padding-left: 10px;
}
.gb-headline {
  text-align: left;
  padding-left: 15px;
  border-left-style: solid;
  border-left-width: 5px;
  border-color: var(--accent);
  margin-bottom: 39px;
}
