* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.blog {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  margin-top: 29px;
  justify-content: space-around;
  align-items: center;
  background-color: aqua;
}
