* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.blog {
  display: flex;
  margin-top: 25px;
  justify-content: space-evenly;
  flex-direction: column-reverse;
  align-items: center;
  margin-bottom: 150px;
  &__text {
    margin-top: 50px;
    text-align: center;
    max-width: 974px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    font-size: 3rem;
  }
  &__subtitle {
    margin-bottom: 7px;
    margin-top: 50px;
    font-style: oblique;
  }
  &__name-date {
    gap: 19px;
    display: flex;
    font-style: oblique;
    margin-bottom: 15px;
  }
  &__p {
    font-size: x-large;
    margin-top: 28px;
    line-height: 40px;
  }
}
footer {
  display: flex;
  height: 150px;
  background-color: var(--secondary-color);
  // margin-top: 90px;
}
