* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.blog {
  display: flex;
  margin-top: 100px;
  justify-content: space-evenly;
  &__title {
    font-size: 3rem;
  }
  &__subtitle {
    margin-top: 50px;
    font-style: oblique;
  }
  &__name-date {
    display: flex;
    font-style: oblique;
  }
}
footer {
  display: flex;
  height: 150px;
  background-color: var(--secondary-color);
  // margin-top: 90px;
}
