* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  //   background-color: var(--main-bg-color);
  font-family: "IBM Plex Sans", sans-serif;
  background: rgb(246, 247, 248);
  background: linear-gradient(
    180deg,
    rgba(246, 247, 248, 1) 0%,
    rgba(134, 144, 150, 1) 100%
  );
}

//// NAV BAR START ////

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 95px;
  background-color: var(--secondary-color);

  &__title {
    width: 300px;
    padding-left: 70px;
  }
  &__nav-main {
    display: flex;
    gap: 30px;
  }
  &__nav-main__links-main {
    color: var(--main-bg-color);
    font-size: 1.3rem;
    text-decoration: none;
    padding: 15px;

    &:hover {
      background-color: var(--hover);
      color: var(--secondary-color);
    }
  }

  &__registration {
    padding-right: 50px;
  }
  &__registration__sign {
    color: var(--main-bg-color);
    font-size: 1.1rem;
    text-decoration: none;
    padding: 10px;
    border: var(--hover) solid 1px;
    margin-left: 5px;
    &:hover {
      background-color: var(--hover);
    }
  }
}

select {
  width: 150px;
  background-color: var(--secondary-color);
  color: var(--main-bg-color);
  font-size: 1.3rem;
  border: none;
  cursor: pointer;

  &:focus,
  &:hover {
    background-color: var(--hover);
  }
  option {
    color: var(--secondary-color);
    font-size: 1.5rem;
  }
}
//// NAV BAR END ////

footer {
  display: flex;
  height: 150px;
  background-color: var(--secondary-color);
  margin-top: 90px;
}

.health-title {
  margin-left: 52px;
  margin-top: 16px;
}

.page-container {
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
  &__most-viewed {
    background-color: var(--main-bg-color);
    box-shadow: 1px 2px 5px 0 var(--shadow);
    display: flex;
    width: 561px;
    height: 800px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &__image {
      width: 325px;
      height: 200px;
      background-image: url(./assets/sport.jpg);
      margin-top: 60px;
    }
    &__text {
      padding: 0 40px;
      margin-top: 30px;
      &__h {
        font-size: 2rem;
      }
      &__p {
        line-height: 30px;
      }
    }
  }

  &__side-headers {
    // background-color: var(--main-bg-color);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    &__container {
      background-color: var(--main-bg-color);

      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 670px;
      height: 190px;
      box-shadow: 1px 2px 5px 0 var(--shadow);
      margin-bottom: 35px;

      .page-container__side-headers__image {
        height: 150px;
        width: 180px;
        background-image: url(./assets/sport.jpg);
        background-repeat: no-repeat;
        background-size: cover;
      }
      .page-container__side-headers__text {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        width: 282px;
        height: 107px;
        .page-container__side-headers__text__h {
          font-size: 1.5rem;
        }
        .page-container__side-headers__text__p {
          line-height: 20px;
        }
      }
    }
  }
}

// -----LIST-----------
// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }
// body {
//   font-family: "Roboto", sans-serif;
//   background: #f7f6ff;
// }
// // h2 {
// //   margin: 16px;
// // }
// .container {
//   margin-top: 5px;
//   // padding: 32px;
// }
// .select-box {
//   display: flex;
//   width: 166px;
//   flex-direction: column;
// }
// .select-box .options-container {
//   background-color: #2f3640;
//   color: #f5f6fa;
//   max-height: 0;
//   width: 100%;
//   opacity: 0;
//   transition: all 0.4s;
//   border-radius: 8px;
//   overflow: hidden;
//   order: 1;
// }
// .selected {
//   background: #2f3640;
//   border-radius: 8px;
//   margin-bottom: 8px;
//   color: #f5f6fa;
//   position: relative;
//   order: 0;
// }
// .selected::after {
//   content: "";
//   background: url("img/arrow-down.svg");
//   background-size: contain;
//   background-repeat: no-repeat;
//   position: absolute;
//   height: 100%;
//   width: 32px;
//   right: 10px;
//   top: 5px;
//   transition: all 0.4s;
// }
// .select-box .options-container.active {
//   max-height: 240px;
//   opacity: 1;
//   overflow-y: scroll;
// }
// .select-box .options-container.active + .selected::after {
//   transform: rotateX(180deg);
//   top: -6px;
// }
// .select-box .options-container::-webkit-scrollbar {
//   width: 8px;
//   background: #0d141f;
//   border-radius: 0 8px 8px 0;
// }
// .select-box .options-container::-webkit-scrollbar-thumb {
//   background: #525861;
//   border-radius: 0 8px 8px 0;
// }
// .select-box .option,
// .selected {
//   padding: 12px 24px;
//   cursor: pointer;
// }
// .select-box .option:hover {
//   background: #414b57;
// }
// .select-box label {
//   cursor: pointer;
// }
// .select-box .option .radio {
//   display: none;
// }
