* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.none {
  display: none;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 95px;
  background-color: var(--secondary-color);

  &__title {
    width: 300px;
    padding-left: 70px;
  }
  &__nav-main {
    display: flex;
    gap: 30px;
  }
  &__nav-main__links-main {
    color: var(--main-bg-color);
    font-size: 1.3rem;
    text-decoration: none;
    padding: 15px;

    &:hover {
      background-color: var(--hover);
      color: var(--secondary-color);
    }
  }

  &__registration {
    padding-right: 50px;
  }
  &__registration__sign {
    color: var(--main-bg-color);
    font-size: 1.1rem;
    text-decoration: none;
    padding: 10px;
    border: var(--hover) solid 1px;
    margin-left: 5px;
    &:hover {
      background-color: var(--hover);
    }
  }
}

select {
  width: 150px;
  background-color: var(--secondary-color);
  color: var(--main-bg-color);
  font-size: 1.3rem;
  border: none;
  cursor: pointer;

  &:focus,
  &:hover {
    background-color: var(--hover);
  }
  option {
    color: var(--secondary-color);
    font-size: 1.5rem;
  }
}

.edit-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  input {
    width: 848px;
    height: 60px;
    margin-bottom: 20px;
    font-size: 1.2rem;
  }
  #textarea {
    overflow-y: scroll;
    width: 850px;
    height: 285px;
    font-size: 1.2rem;
    font-family: "IBM Plex Sans", sans-serif;
    font-style: oblique;
    resize: none;
    background-color: transparent;
    // border: none;
    border: 2px solid black;
  }
}
.submit-post-button {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  &__post {
    width: 105px;
    height: 40px;
  }
}

#post-button {
  background: var(--subtitle);
  color: var(--main-bg-color);
  height: 40px;
  width: 230px;
  border-radius: 20px;
  border: 0;
  outline: 0;
  margin-bottom: 110px;
  font-size: x-large;
}
.to-your-blog {
  width: fit-content;
  height: 67px;
  margin: 50px;
  &__a {
    color: var(--subtitle);
    text-decoration: none;
    font-size: 1.5rem;
    padding: 10px;
    font-weight: bold;
  }
}

.blog__img {
  max-width: 100px;
}

footer {
  display: flex;
  height: 150px;
  background-color: var(--secondary-color);
}
